@charset "utf-8";
 *{

    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;

}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    background-color:rgb(138, 121, 160);
    
    
}

header,nav,aside,footer,main {
    background:rgb(97, 59, 148);
    display:flex;
    margin: 3px;
}
                                                /* Comandos do Cabeçalho e Navbar */


header {
    flex: 1 1 100vw;
    background-color:rgb(97, 59, 148);
}

#logo{
    display: flex;
    flex: 0 1 200px;
    background: #e7b038;
    justify-content: center;
    align-items: center;
    font-family: 'fontelogo';
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#logo:hover{
    text-decoration: none;
    color: #fff;
}

#openMenu, #closeMenu{
    border: none;
    background:none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display:none;
    color: #fff;
}
nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
    background-color:rgb(97, 59, 148);
    

}
nav a{
    position: relative;
    margin: 0 3%;
    font-size: 15px;
    font-size: 18px;
    color: #fff;
    font-weight:500;
    text-decoration: none;
    margin-left: 40px;

 }
 nav a:hover{
    /* opacity: 0.8; */
    /* background-color: purple; */
    /* border-radius: 45%; */
    
    text-decoration: none;
    color: #fff;

}
 nav a::before{
    content: '';
    position: absolute;
    top: 100%;
    left:0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: .3s;
 }
 nav a:hover::before{
    width:100%
 }
    

 
                        /* Comandos do Conteudo principal */

main{
    width: 500PX;
    flex: 13 1 800px;
    justify-content:space-evenly;
    background-color:rgb(138, 121, 160);
    /* height: calc(100vh); */
    
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-items: center;
    
    
    
}
.elementomain{
    display: flex;
    /* border-style: dotted; */
    /* border-color: #e7b038; */
    width: 500px;
    height: 400px;
    font-size:20px;
    flex-wrap: wrap;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.elementomain img{
    /* width: 400px; */
    max-height: 370px;
}
.elementomain p{
    flex-shrink: 2;
}
#carrossel{
    width: 800px;
    height: 400px;
    padding-right: 10px;
    flex-grow: 3;
}


/* div{
    width: 300px;
    align-content: center;
    display: flex;
    
} */

aside {
	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 200px;
	/* dispoe dos  items em coluna, ao centro do conteiner */
	flex-direction: column; 
	justify-content: space-evenly;
	align-items: center;
    color: #fff;
	
}
.elementoaside{
	min-width: 250px;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-style: ridge;
	border-radius: 5px;
	margin: 10px;
    text-decoration: none;
    
    
}
.elementoaside a{
    text-decoration: none;
    color: #fff;
}

footer {
    
    flex: 1 1 100vw;
    border-radius: 10px;
    background-color:rgb(97, 59, 148);
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    bottom: 0;
    color:#fff;
    height: 150px;
}

.elementofooter{
    display: flex;
    background-color: #e7b038;
    width: 500px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 50px;
}
.elementofooter p{
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: inherit;
}



@media only screen and (max-width: 800px){
    #openMenu, #closeMenu{
        display: block;

    }
    #openMenu{
        margin-left: auto;
    }
    #closeMenu{
        position: fixed;
        right:12px;
        top: 20px;
    }
    nav{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color:rgb(97, 59, 148);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
    nav a{
        margin: 3%;
        display: flex;
        
    }
    main{
        display: flex;
        flex-direction: column;
        /* width:100vw; */
    }
    .elementomain{
        width: 100vw;
    }
    #carrossel{
        width: 100vw;
    }
    aside{
        display:flex;
        flex-direction: column;
    
    
	}
    
    
}

@media only screen and (max-width: 1310px) {
	aside{
        /* display:block; */
        flex-direction: row;
    
    
	}
}

@media only screen and (max-width: 550px) {
    main{
        flex-direction: column;
        width: 100vw;
    }
    aside{
        flex-direction: column;
    }

}


/* código para permitir reconhecimento de fonte externa */
@font-face {
    font-family: 'fontelogo';
    src: url("../assets/fonts/PixelSimpel/PixelSimpel.otf") format('opentype');
}
@font-face {
    font-family: 'fontelogo2';
    src: url("../assets/fonts/PixelLofi/PixelLofi.otf") format('opentype');
}
@font-face {
    font-family: 'fontelogo3';
    src: url("../assets/fonts/monogram-extended.ttf") format('opentype');
}